 *{
  margin: 0;
  padding: 0;
 }
 .app{
  height: 100%;
  text-align: center;
  color: antiquewhite;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./photo.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.heading{
  margin-bottom: 15px;
}



.button{
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 40px;
  width: 170px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6); 
}
.button span{
  color: #164ca7;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.7px;
  padding: 10px 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
